footer {
  display: flex;
  padding: 10px;
  background-color: #fb5353;
  align-items: center;
  justify-content: space-between;
  position: relative;
  p {
    text-align: center;
    color: white;
    font-family: k2d-regular;
    user-select: none;

    &.choose {
      cursor: pointer;
    }
  }

  .languages {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 20px;
    top: -80px;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 3px solid black;
    background-color: #fb5353;

    a{
      color: white;
      font-family: k2d-regular;
    }
  }
}
