footer {
  display: flex;
  padding: 10px;
  background-color: #fb5353;
  align-items: center;
  justify-content: start;
  p {
    text-align: center;
    color: white;
    font-family: k2d-regular;
  }
}
