.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: k2d-regular;
  background-color: rgb(255, 251, 245);
  max-width: 1100px;
  width: 100%;
  margin: auto;
  padding: 16px;
  border-radius: 32px;

  .gallery {
    border-radius: 16px;
    background-color: #f2f2f2;
    max-width: 450px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .choose-btns {
      display: flex;
      font-size: 20px;
      gap: 5px;
      align-items: center;
      text-align: center;

      span {
        opacity: 0.5;
        cursor: pointer;
        user-select: none;

        &.active {
          opacity: 1;
        }
      }
    }

    .slider {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      min-height: 400px;
      width: 100%;
      max-width: 450px;
      margin: auto;
      overflow: hidden;

      .slides {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 16px;
        img {
          position: absolute;
          border-radius: 16px;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
          &.active {
            opacity: 1;
            z-index: 1;
          }
        }
      }

      .nav {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 20px;
        border: none;

        &:hover {
          background-color: #b7b5b5;
        }
      }
    }
  }

  .info {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p:nth-child(2) {
      font-size: 20px;
      opacity: 0.7;
    }

    p:last-child {
      font-size: 30px;
      margin-top: 20px;
    }

    button {
      border: none;
      font-family: k2d-regular;
      font-size: 20px;
      max-width: 200px;
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 8px;
      color: #000;
      border-radius: 16px;
      background-color: #ffe3e3;
      cursor: pointer;

      &:hover {
        background-color: #ef9f9f;
      }

      &:active {
        background-color: #fb5353;
      }
    }
  }
}
