<form class="payment-info" (submit)="deposit()" [formGroup]="paymentInfo">

    <div class="card-number">
        <label for="cardNum" i18n>Card Number*</label><input id="cardNum" formControlName="cardNum" inputmode="numeric"
            pattern="[0-9 ]*" (input)="formatCardNum($event)" placeholder="0123 4567 8901 1234" required
            maxlength="19" />

    </div>

    <div class="card-date-cvv">
        <div class="card-date input-group">
            <label for="cardDate" i18n>Valid until*</label><input id="cardDate" formControlName="cardDate"
                inputmode="numeric" pattern="[0-9/ ]*" (input)="formatDate($event)" placeholder="MM / YYYY" required />

        </div>

        <div class="card-cvv input-group">
            <label for="cardCvv">CVC / CVV</label>
            <input id="cardCvv" formControlName="cardCvv" inputmode="numeric" pattern="\d*" maxlength="4"
                (input)="digitsOnly($event)" placeholder="CVC / CVV" required />
        </div>
    </div>

    <div class="card-owner input-group">
        <label for="cardOwner" i18n>Card Owner*</label><input id="cardOwner" formControlName="cardOwner"
            pattern="[A-Za-z .']*" (input)="lettersOnly($event)" placeholder="J.Smith" required />
    </div>

    <div class="depo-amount input-group">
        <label for="depo" i18n>Deposit*</label>
        <input id="depo" type="number" min="0" max="9999" formControlName="depo" (input)="digitsOnly($event)"
            placeholder="Deposit Amount" required />
        @if(errorMessage.length > 0){
        {{errorMessage}}
        }
    </div>

    <button type=" submit" i18n>Pay</button>
</form>

@if(showPopup){
<div class="pop-up">
    {{ errorMessage }}
</div>
}