.payment-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f2f4fa;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  font-family: k2d-regular;

  input {
    padding: 10px;
    border: 1px solid #d5daf0;
    border-radius: 3px;
    background-color: #fafaff;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      input {
        width: 100%;
      }
    }
  }

  button {
    border: none;
    font-family: k2d-regular;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: auto;
    padding: 8px;
    color: #000;
    border-radius: 16px;
    background-color: #ffe3e3;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background-color: #ef9f9f;
    }

    &:active {
      background-color: #fb5353;
    }
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-size: 16px;
    color: #333;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d5daf0;
    border-radius: 3px;
    background-color: #fafaff;
  }
}
.pop-up {
  position: fixed;
  bottom: 20px;
  left: 50%;
  max-width: 300px;
  width: 100%;
  transform: translateX(-50%);
  background-color: #0a74da;
  color: white;
  padding: 12px 24px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 16px;
  font-weight: 500;
  font-family: 'bpg arial caps';
  animation: slideUp 0.3s ease-out, fadeOut 0.5s ease-in 2.5s forwards;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
