canvas {
  cursor: pointer;
  max-width: 350px;
  max-height: 350px;
  border-radius: 6px;
  width: 100% !important;
  height: 350px !important;
  display: block;
  margin: 0 auto;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}
